*{
    font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#header{
    position: fixed;
    width: 100%;
    height: 85px;
    background-color: #e3e6f3;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
nav{
   display: flex ; 
   flex-direction: row;
   margin-top: 20px;
   margin-left:80px ;
}
ul{
    display: flex;
    margin-left: 700px;
}
li{
    margin: 0 10px;
    list-style: none;
}

.logo{
    height: 40px;
    width: 140px;
}
.container{
    background-image: url(images/hero4.png);
    width: 89.2%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
    margin-left: -8px;
    left: 0;
}
.container h4{
    color: white;
    font-size: 40px;
    padding-bottom: 15px;
    margin: 0px;
}
.container h2{
    font-size: 70px;
    color: #222222;
    margin: 0px;
}
.container h1{
    font-size: 70px;
    color: #089178;
    margin: 0px;
}
.container p{
    color: #465B52;
    font-size: 16px;
}
.container button{
    background-color: transparent;
    background-image: url(./images/button.png);
    color: #088178;
    height: 60px;
    width: 260px;
    border: 0px;
    background-size: cover;
    font-size: 20px;
}
.features{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0px; 
}
.box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
.features h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    font-size: 14px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
.features .box:nth-child(2) h6{
    background-color: #cdebbc;
}
.features .box:nth-child(3) h6{
  background-color: #d1e8f2;
}
.features .box:nth-child(4) h6{
  background-color: #cdd4f8;
}
.features .box:nth-child(5) h6{
  background-color: #f6dbf6;
}
.features .box:nth-child(6) h6{
  background-color: #fff2e5;
}
.products .product-cart-master{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 60px;
  }
.products h1{
    text-align: center;
    font-size: 50px;
}
.products p{
    text-align: center;
    font-size: 15px;
}
.product-cart img{
    width: 100%;
}
.product-cart{
    z-index: 0;
}
.products .product-cart{
    width: 280px;
    border: 1px solid #ebebeb;
    padding: 13px;
    margin-bottom: 30px;
    border-radius: 25px;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  }
  .products .product-cart img {
    width: 100%;
    border-radius: 25px;
  }
  .product-cart span{
    color: #969696;
  }
  .fa-star{
    color: gold;
  }
  .product-cart .price{
    color: #088178;
  }
  .fa-cart-shopping{
    color: #088178;
  background-color: #c7e9e75e;
  padding: 15px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  }
  .banner{
    background-image: url(./images/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .banner h4 {
    font-size: 25px;
    color: white;
  }
  .banner h2 {
    font-size: 46px;
    color: white;
  }
  .banner button{
    font-size: 14px;
    font-weight: 600px;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .banners{
    margin: 0 60px;
  }
  .banners h2,h4,span {
  color: rgb(248, 248, 248);
}
  .bigbanners{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .bigbanner1{
    margin: 10px;
    height: 300px;
    width: 580px;
    background-image: url(./images/banner/b17.jpg);
  }
  .bigbanner2{
  margin: 10px;
  height: 300px;
  width: 580px;
  background-repeat: no-repeat;
  background-image: url(./images/banner/b10.jpg);
}
.smallbanners{
  display: flex;
  justify-content: center;
  align-content: center;
}
.smallbanner1{
  margin: 20px;
  width: 370px;
  height: 200px;
  background-size: cover;
  background-image: url(./images/banner/b7.jpg);
}
.smallbanner2{
  margin: 20px;
  width: 370px;
  height: 200px;
  background-size: cover;
  background-image: url(./images/banner/b4.jpg);
}
.smallbanner3{
  margin: 20px;
  width: 370px;
  height: 200px;
  background-size: cover;
  background-image: url(./images/banner/b18.jpg);
}
.bannerbutton{
  color: white;
  margin-left: 20px;
  margin-top: 15px;
  height: 45px;
  width: 110px;
  background-color: transparent;
  border: 1px white solid;
  transition: .2s;
}
.banners .bigbanners div:hover button{
  background-color: #088178;
  border: 0px;
}
.smallbanners h2,h5{
  margin-left: 20px;
}
.smallbanners h2{
  margin-top: 80px;
}
.smallbanners h5{
  color: #771818;
}
.newsletter{
    background-image: url(images/banner/b14.png);
    background-color: #041e42;
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}
#email-input{
  border-radius: 5px 5px 5px 5px;
  border: 0px;
  background-color: #d1d0d0;
  height: 55px;
  width: 350px;
}
.news-button{
  border: 0px;
  border-radius: 5px 5px 5px 5px;
  background-color: #088178;
  height: 55px;
  margin-left: -5px;
  width: 90px;
  color: white;
}
.news-text h3{
  padding: 0 0 15px 0;
  font-size: 30px;
  color: white;
  margin: 0px;
}
.news-text h5{
  color: rgb(151, 151, 151);
  font-size: 17px;
  margin: 0px;
}
.news-text mark{
  background-color: transparent;
  color: yellow;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.about{
  display: flex;
  flex-direction: column;
}
.myaccount{
  display: flex;
  flex-direction: column;
}
.install{
  display: flex;
  flex-direction: column;
}
.footer p, .footer a{
  color: rgb(109, 109, 109);
  text-decoration: none;
}
.footer a:hover{
  color:#088178;
}
.footer .about a{
  display: block;
  padding:8px 0;
}
.footer .myaccount a{
  display: block;
  padding:8px 0;
}
.download img{
  border: 1px solid #08817969;
  border-radius: 7px;
}
.underline ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
.underline ul a:hover,nav ul a.underline {
  color: #088178;
  content: "";
}
.underline ul li a:hover::after,
.underline ul li a.underline::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
@media only screen and (min-width:450px) {
  .fa-bars{
    display: none!important;
  }
  .hamburg-options{
    display: none;
  }
}
@media only screen and (max-width: 450px){
  .hamburg-menu {
    position: relative;
    display: inline-block;
  }
  .hamburg-options {
    display: none;
    margin-left: -170px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2px;
    overflow: hidden;
}
.hamburg-options a {
    color: black;
    padding: 12px 40px;
    text-decoration: none;
    display: block;
}

.hamburg-options a:hover {
    background-color: #f1f1f1;
}

.hamburg-menu:hover .hamburg-options {
    display: block;
}
#header{
  left: 0;
  width: 420px;
  margin: -10px;
}
nav{
  margin-top: 50px;
  margin-left:40px ;
}
.logo{
   margin-top: -20px;
   height: 40px;
   width: 140px;
}
.container{
  left: 0;
    background-image: url(images/hero4.png);
    width: 410px;
    height: 100vh;
    background-size: cover;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: -8px;
    left: 0;
}
.fa-bars{
  cursor: pointer;
  color: #088178;
  margin-left: 200px;
  transition: 0.2s ease;
}
.fa-bars:active{
  transform: rotate(90deg);
}
ul{
  display: none;
}
.underline{
  display: none;
}
.container h4{
    color: white;
    font-size: 20px;
    padding-bottom: 0px;
    margin-left: 10px;
}
.container h2{
    font-size: 35px;
    color: #222222;
    margin-left: 10px;
}
.container h1{
    font-size: 40px;
    color: #089178;
    margin-left: 10px;
}
.container p{
    color: #465B52;
    font-size: 16px;
    margin: 10px;
}
.container button{
    height: 40px;
    width: 160px;
    background-size:contain;
    font-size: 20px;
}
.features{
    flex-direction: column;
}
.banner{
  background-image: url(./images/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.banner h2 {
  margin-left: 35px;
  font-size: 36px;
}
.banners{
  display: none;
}
#email-input{
height: 25px;
width: 150px;
margin-left: 20px;
}
.news-button{
height: 25px;
margin-left: 20px;
}
.news-text h3{
padding: 0 0 0 0;
font-size: 20px;
}
.news-text h5{
font-size: 10px;
}
footer{
  width: 410px;
}
.myaccount{
  width: 70px;
}
.contact{
  width: 100px;
}
.install{
  width: 100px;
}
.install img{
  width: 30px;
}
.download img{
  width: 20px;
}
}