*{
    font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#header{
    position: fixed;
    width: 100%;
    height: 85px;
    background-color: #e3e6f3;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
nav{
   display: flex ; 
   flex-direction: row;
   margin-top: 20px;
   margin-left:80px ;
}
ul{
    display: flex;
    margin-left: 700px;
}
li{
    margin: 0 10px;
    list-style: none;
}
.logo{
    height: 40px;
    width: 140px;
}
.container{
    background-image: url(images/hero4.png);
    width: 89.2%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
    margin-left: -8px;
    left: 0;
}
.container h4{
    color: white;
    font-size: 40px;
    padding-bottom: 15px;
    margin: 0px;
}
.container h2{
    font-size: 70px;
    color: #222222;
    margin: 0px;
}
.container h1{
    font-size: 70px;
    color: #089178;
    margin: 0px;
}
.container p{
    color: #465B52;
    font-size: 16px;
}
.container button{
    background-color: transparent;
    background-image: url(./images/button.png);
    color: #088178;
    height: 60px;
    width: 260px;
    border: 0px;
    background-size: cover;
    font-size: 20px;
}
.features{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0px; 
}
.box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
.features h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    font-size: 14px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
.features .box:nth-child(2) h6{
    background-color: #cdebbc;
}
.features .box:nth-child(3) h6{
  background-color: #d1e8f2;
}
.features .box:nth-child(4) h6{
  background-color: #cdd4f8;
}
.features .box:nth-child(5) h6{
  background-color: #f6dbf6;
}
.features .box:nth-child(6) h6{
  background-color: #fff2e5;
}
.products .product-cart-master{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 60px;
  }
.products h1{
    text-align: center;
    font-size: 50px;
}
.products p{
    text-align: center;
    font-size: 15px;
}
.product-cart img{
    width: 100%;
}
.product-cart{
    z-index: 0;
}
.products .product-cart{
    width: 280px;
    border: 1px solid #ebebeb;
    padding: 13px;
    margin-bottom: 30px;
    border-radius: 25px;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  }
  .products .product-cart img {
    width: 100%;
    border-radius: 25px;
  }
  .product-cart span{
    color: #969696;
  }
  .fa-star{
    color: gold;
  }
  .product-cart .price{
    color: #088178;
  }
  .fa-cart-shopping{
    color: #088178;
  background-color: #c7e9e75e;
  padding: 15px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  }
  .banner{
    background-image: url(./images/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .banner h4 {
    font-size: 25px;
    color: white;
  }
  .banner h2 {
    font-size: 46px;
    color: white;
  }
  .banner button{
    font-size: 14px;
    font-weight: 600px;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .banners{
    margin: 0 60px;
  }
  .banners h2,h4,span {
  color: rgb(248, 248, 248);
}
  .bigbanners{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .bigbanner1{
    margin: 10px;
    height: 300px;
    width: 580px;
    background-image: url(./images/banner/b17.jpg);
  }
  .bigbanner2{
  margin: 10px;
  height: 300px;
  width: 580px;
  background-repeat: no-repeat;
  background-image: url(./images/banner/b10.jpg);
}
.smallbanners{
  display: flex;
  justify-content: center;
  align-content: center;
}
.smallbanner1{
  margin: 20px;
  width: 370px;
  height: 200px;
  background-size: cover;
  background-image: url(./images/banner/b7.jpg);
}
.smallbanner2{
  margin: 20px;
  width: 370px;
  height: 200px;
  background-size: cover;
  background-image: url(./images/banner/b4.jpg);
}
.smallbanner3{
  margin: 20px;
  width: 370px;
  height: 200px;
  background-size: cover;
  background-image: url(./images/banner/b18.jpg);
}
.bannerbutton{
  color: white;
  margin-left: 20px;
  margin-top: 15px;
  height: 45px;
  width: 110px;
  background-color: transparent;
  border: 1px white solid;
  transition: .2s;
}
.banners .bigbanners div:hover button{
  background-color: #088178;
  border: 0px;
}
.smallbanners h2,h5{
  margin-left: 20px;
}
.smallbanners h2{
  margin-top: 80px;
}
.smallbanners h5{
  color: #771818;
}
.newsletter{
    background-image: url(images/banner/b14.png);
    background-color: #041e42;
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}
#email-input{
  border-radius: 5px 5px 5px 5px;
  border: 0px;
  background-color: #d1d0d0;
  height: 55px;
  width: 350px;
}
.news-button{
  border: 0px;
  border-radius: 5px 5px 5px 5px;
  background-color: #088178;
  height: 55px;
  margin-left: -5px;
  width: 90px;
  color: white;
}
.news-text h3{
  padding: 0 0 15px 0;
  font-size: 30px;
  color: white;
  margin: 0px;
}
.news-text h5{
  color: rgb(151, 151, 151);
  font-size: 17px;
  margin: 0px;
}
.news-text mark{
  background-color: transparent;
  color: yellow;
}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus doloremque ipsam aut ab dolorem nam ad, incidunt hic perspiciatis. Doloribus, nemo. Ipsum quibusdam dolores corrupti reprehenderit natus nobis nam vitae!
Tempora blanditiis ducimus neque perspiciatis veritatis, numquam sapiente enim eligendi. Sit ea facere sint. Placeat in deserunt quis laborum tenetur voluptates commodi. Veniam sapiente autem illo facere sit exercitationem ipsum.
Dolorum dolorem alias aspernatur obcaecati, reprehenderit exercitationem. Voluptate ab voluptatum optio in eligendi, necessitatibus itaque dignissimos tempore. Accusamus animi cumque, repudiandae vitae, unde perferendis distinctio, soluta sed et dolore rerum.
Assumenda vel perspiciatis eaque consequatur quibusdam beatae doloribus nihil praesentium inventore soluta! Non impedit deleniti asperiores, error nulla nostrum aliquam inventore obcaecati, ducimus earum corrupti, mollitia sequi eos repudiandae soluta!
Culpa eaque, ex expedita magni debitis, vitae placeat voluptas nesciunt odit accusamus necessitatibus deleniti autem inventore unde, mollitia maiores commodi? Quas, maiores magni quibusdam culpa iste aliquid. Saepe, expedita quo.
Dicta repudiandae maxime magnam dignissimos laboriosam dolorem blanditiis voluptatibus magni quas atque provident iure, ut accusantium minus. Labore sed dignissimos velit ratione, consectetur nulla cum incidunt officia, modi illo similique!
Repudiandae odit consectetur ad saepe a dolor ratione et quas molestiae. Quia tempora ad iste natus, aliquam explicabo. Dignissimos placeat, earum architecto et eum voluptates itaque doloribus praesentium minima in?
Dolorem, exercitationem laborum placeat debitis officiis doloribus vero. Quas culpa qui dolor molestias doloribus ratione. Laboriosam, itaque rem eius cumque pariatur voluptate laborum inventore iste officiis est at facere mollitia!
Soluta officia debitis cupiditate explicabo, nisi modi. Pariatur eveniet, tenetur et ipsum cupiditate eaque vero debitis porro, labore iure perferendis! Magnam illo accusantium eos facilis possimus unde quos porro ex.
Ipsum quae magnam consequuntur vel explicabo eos, tenetur odio magni, inventore earum voluptates nulla in aut veritatis provident! Dolorum hic eligendi libero minus architecto maiores voluptate fugiat tempore magni at!
Quasi omnis dolore magnam minima maiores non, labore accusantium necessitatibus perferendis quas beatae explicabo aliquid recusandae incidunt atque officiis inventore quia laudantium. Labore molestiae ad quam qui possimus, illo rerum.
Autem ea soluta beatae sapiente illum accusantium officiis ducimus odit recusandae cum veritatis quo sit repudiandae reiciendis tempore blanditiis veniam alias ipsa dicta, iusto itaque animi corporis nostrum? Autem, minima.
Quisquam laudantium perferendis, vel porro impedit doloremque magnam fugit. Consequuntur modi porro consectetur incidunt voluptas perspiciatis aperiam maiores! Accusantium tempora minus dicta distinctio velit beatae quis magni sunt quae nam!
Cum esse aliquam quidem, iure nisi ipsum omnis modi! Maxime similique a non deleniti laborum perferendis blanditiis est, nesciunt quis tempore ex libero incidunt optio dolorum, fugiat quia. Rerum, cupiditate?
Facilis et amet iusto reprehenderit quam ipsam itaque maxime nisi, cumque velit nemo voluptas sapiente ab eius exercitationem qui voluptate ut, autem quasi modi. Sunt cum ipsa soluta voluptas inventore.
Est assumenda reiciendis quas architecto, deleniti, doloribus magni deserunt voluptates delectus asperiores nobis ut voluptatum in cumque illum iure numquam nostrum velit neque labore praesentium amet dignissimos culpa non! Quos.
Eveniet sit quo voluptates architecto aliquid, numquam iusto autem tenetur laudantium? Vero in inventore delectus possimus porro earum sed, eos cupiditate enim ullam corrupti voluptates odit nihil et recusandae neque.
Tempora enim molestiae amet quam eveniet, sint autem reprehenderit necessitatibus assumenda. Eveniet, veritatis exercitationem nisi dolore ea optio laborum culpa perspiciatis, accusantium ad quaerat, odit delectus vitae dolor aliquid impedit.
Laboriosam molestiae enim dicta impedit cum, earum laborum quas est officiis voluptatem officia vel, possimus ipsa obcaecati accusantium ipsum accusamus similique tenetur itaque in eveniet ducimus aperiam qui nemo? Possimus.
Quo dolorem facere, consequuntur sapiente est ipsa corrupti similique vel temporibus explicabo. Odio nihil sint laudantium architecto obcaecati quos recusandae totam blanditiis repudiandae inventore incidunt ipsum, atque illo laborum officia.